/* Style Sheet for resume.html */

body {
	background-color: #262626;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 100px;
}

h1 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 4px;
	line-height: .8

}

h2 {
	text-align: left;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 3px;
	width: 100%;
}

h3{
	text-align: left;
	font-size: 18px;
	font-weight: bold;
	padding-left: 100px;
	letter-spacing: 2px;
	line-height: .2;
}

h4{
	text-align: left;
	font-size: 18 px;
	font-style: normal;
	padding-left: 100px;
	letter-spacing: 1px;
	line-height: .2;
}

p{
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	padding-left: 100px;
	line-height: .2;
}

ul{
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	padding-left: 118px;
	line-height: 1.5;
}
